<div class="main">
  <div class="first">
    <header class="header">
      <nav class="navbar">
        <div class="logo">Brandname</div>
        <div>
          <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="btns">
          <p>Login</p>
          <button class="login-btn">Join Us &#8594;</button>
        </div>
      </nav>
    </header>

    <section class="hero">
      <div class="hero-text">
        <div class="welcome">Welcome</div>
        <h1>Best Learning <br>Opportunities</h1>
        <p>Our goal is to make online <br> education work for everyone</p>
        <div class="btns">
          <button class="cta-btn">Jion Us
          </button>
          <button class="cta-btn-outer">Learn More</button>
        </div>

      </div>
      <div class="hero-image">
        <img src="../assets/col-md-6.png" alt="Hero Image">
      </div>
    </section>
  </div>

  <section class="packages">
    <div class="package-headers">
      <div class="line"></div>
      <h2>Approachable Packages</h2>
      <p>Problems trying to resolve the conflict between <br>the two major realms of Classical physics: <br>Newtonain
        machines</p>
      <p class="learn-more-btn">Learn More <i class="bi bi-chevron-right"></i></p>
    </div>
    <div class="package-cards">
      <div class="card">
        <div class="inner-card d-flex align-items-center justify-content-center">
          <img src="../assets/icon cool-icon-n2.png" alt="">
        </div>
        <h6>Certified Teachers</h6>
        <div class="inner-line"></div>
        <p>
          The gradual<br>accumulation of<br>information about
        </p>
      </div>
      <div class="card">
        <div class="inner-card d-flex align-items-center justify-content-center">
          <img src="../assets/icon cool-icon-n5.png" alt="">
        </div>
        <h6>Expert instruction</h6>
        <div class="inner-line"></div>
        <div>
          The gradual<br>accumulation of<br>information about
        </div>
      </div>
    </div>
  </section>

  <section class="carousel-section">
    <div class="carousel-top">
      <p>Team</p>
      <h3>Get Quality Education</h3>
      <div class="blw">Problems trying to resolve the conflict between <br>the two major realms of Classical
        physics:
        Newtonian
        mechanics</div>
    </div>
    <!-- Carousel -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="parent">
            <div class="carousel-item-content card">
              <img src="../assets/user-cover-1.png" alt="">
              <h6>Julian Jmaeson</h6>
              <p>Profession</p>
              <div class="icons"><i class="bi bi-facebook"></i><i class="bi bi-instagram"></i><i
                  class="bi bi-twitter"></i></div>
            </div>
            <div class="carousel-item-content card">
              <img src="../assets/user-cover-2.png" alt="">
              <h6>Julian Jmaeson</h6>
              <p>Profession</p>
              <div class="icons"><i class="bi bi-facebook"></i><i class="bi bi-instagram"></i><i
                  class="bi bi-twitter"></i></div>
            </div>
            <div class="carousel-item-content card">
              <img src="../assets/user-cover-3.png" alt="">
              <h6>Julian Jmaeson</h6>
              <p>Profession</p>
              <div class="icons"><i class="bi bi-facebook"></i><i class="bi bi-instagram"></i><i
                  class="bi bi-twitter"></i></div>
            </div>
            <div class="carousel-item-content card">
              <img src="../assets/user-cover-4.png" alt="">
              <h6>Julian Jmaeson</h6>
              <p>Profession</p>
              <div class="icons"><i class="bi bi-facebook"></i><i class="bi bi-instagram"></i><i
                  class="bi bi-twitter"></i></div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="parent">
            <div class="carousel-item-content card">
              <img src="../assets/user-cover-1.png" alt="">
              <h6>Julian Jmaeson</h6>
              <p>Profession</p>
              <div class="icons"><i class="bi bi-facebook"></i><i class="bi bi-instagram"></i><i
                  class="bi bi-twitter"></i></div>
            </div>
            <div class="carousel-item-content card">
              <img src="../assets/user-cover-2.png" alt="">
              <h6>Julian Jmaeson</h6>
              <p>Profession</p>
              <div class="icons"><i class="bi bi-facebook"></i><i class="bi bi-instagram"></i><i
                  class="bi bi-twitter"></i></div>
            </div>
            <div class="carousel-item-content card">
              <img src="../assets/user-cover-3.png" alt="">
              <h6>Julian Jmaeson</h6>
              <p>Profession</p>
              <div class="icons"><i class="bi bi-facebook"></i><i class="bi bi-instagram"></i><i
                  class="bi bi-twitter"></i></div>
            </div>
            <div class="carousel-item-content card">
              <img src="../assets/user-cover-4.png" alt="">
              <h6>Julian Jmaeson</h6>
              <p>Profession</p>
              <div class="icons"><i class="bi bi-facebook"></i><i class="bi bi-instagram"></i><i
                  class="bi bi-twitter"></i></div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>

  </section>

  <section class="subscription-sec">
    <form [formGroup]="subscriptionForm" (ngSubmit)="onSubscribe()">
      <div class="sub-top">
        <p>Newsletter</p>
        <h4>Watch our Courses</h4>
        <div class="blw">
          Problems trying to resolve the conflict between <br> the two major realms of Classical physics: Newtonian
          mechanics
        </div>
      </div>
      <div class="sub-bot">
        <input type="text" formControlName="email" placeholder="Your email">
        <button type="submit">Subscribe</button>
      </div>
      <div *ngIf="subscriptionForm.get('email')?.invalid && subscriptionForm.get('email')?.touched">
        <small class="error-message">Email is required.</small>
      </div>
    </form>
  </section>

  <section class="footer-section">
    <div class="footer-top">
      <div class="text">
        <h6>Company info</h6>
        <p>About us</p>
        <p>Carrier</p>
        <p>We are hiring</p>
        <p>Blog</p>
      </div>
      <div class="text">
        <h6>Legal</h6>
        <p>About us</p>
        <p>Carrier</p>
        <p>We are hiring</p>
        <p>Blog</p>
      </div>
      <div class="text">
        <h6>Features</h6>
        <p>Business Marketing</p>
        <p>User Analytic</p>
        <p>Live Chat</p>
        <p>Unlimited Support</p>
      </div>
      <div class="text">
        <h6>Resources</h6>
        <p>IOS & Android</p>
        <p>Watch a Demo</p>
        <p>Customers</p>
        <p>API</p>
      </div>
      <div class="text">
        <h6>Get In Touch</h6>
        <div class="icon-text"><i class="bi bi-telephone"></i>
          <p>(480) 555-0103</p>
        </div>
        <div class="icon-text"><i class="bi bi-geo-alt"></i>
          <p>4517 Washington Ave. Manchester,<br>
            Kentucky 39495</p>
        </div>
        <div class="icon-text"><i class="bi bi-envelope-fill"></i>
          <p>debra.holt@example.com</p>
        </div>
      </div>
    </div>
    <div class="footer-bot">
      <h6>Made With Love By Figmaland All Rights Reserved </h6>
      <div class="icons">
        <i class="bi bi-facebook"></i><i class="bi bi-instagram"></i><i class="bi bi-twitter"></i>
      </div>
    </div>
  </section>

</div>
